body{
    background-color: lemonchiffon;
}


.infoimg{
    text-align: center;
}
.btn-primary{
    margin: 0px 10px;
}
p{
    margin: 10px;
}
footer{
    color:red;
    text-align: center;
}



